name: Rust

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/rust.yml'
      - 'src/**.rs'
      - 'tests/**'
      - 'Cargo.toml'
      - 'valgrind.supp'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - '**'
    paths:
      - '.github/workflows/rust.yml'
      - 'src/**.rs'
      - 'tests/**'
      - 'Cargo.toml'
      - 'valgrind.supp'

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    if: github.event.pull_request.draft == false
    uses: DoumanAsh/douman-ci/.github/workflows/rust.yml@master
    with:
      runs-on: ${{ matrix.os }}
      min-rustc-version: "1.63.0"
      valgrind_flags: "--suppressions=valgrind.supp"

  cross-compilation-test:
    needs: test
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        target: ["aarch64-unknown-linux-musl", "aarch64-unknown-linux-gnu", "arm-unknown-linux-musleabi"]
    uses: DoumanAsh/douman-ci/.github/workflows/cross-rust.yml@master
    with:
      cargo-target: ${{ matrix.target }}
      cargo-test-debug: false
      cargo-test-release: false

